@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');




@import "tailwindcss";


.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
}

* {
  font-family: "poppins",sans-serif;
}

html {
  scroll-behavior: smooth;
}
.skil{
  transform: translateY(850px);
}
.sec{
  transform: translateY(850px);
}